build/*
.gradle/*
.DS_Store
.vscode/*
.kotlin/*
bin/*
velocity_server/lang/*
velocity_server/logs/*
velocity_server/plugins/*
velocity_server/.console_history
velocity_server/forwarding.secret
lobby_server/logs/
